Edit Page

<br>

  <div class="row">
      <div class="card  w-50" style = " padding: 2%">
        <div class="card-body" >
          <p> Original </p>
          <h5 class="card-title"><strong> Stylist: </strong><%= @listing.user.first_name %> <%= @listing.user.last_name %></h5>
          <p class= "card-text"> <strong> Title: </strong><%= link_to @listing.title ,listing_path(@listing) %></p>   
          <p class= "card-text"> <strong> Country: </strong><%= @listing.country %></p>   
          <p class= "card-text"> <strong> Location: </strong> <%= @listing.location %></p>   
         </div>
      </div>
      <div class="card  w-50" style = " padding: 2%">
        <div class="card-body" >
          <p>Edit Listing </p>
         <%= form_for @listing do |f| %>
         <%= render partial: '/listings/form', :locals => {:f => f } %>  
         <div><%= f.submit %></div>  
         <% end %>
        </div>
        </div>
        </div>




