<main class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= form_tag listings_search_path, method: :post, remote: true do %>

         <h7>Country </h7>
          <%= text_field_tag :country, params[:country] %>  
         <h7>City </h7>
          <%= text_field_tag :location, params[:location] %>    
          <%= submit_tag "Search", name: nil, class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container mt-5" id="list_list">
    <%= render partial: '/listings/display', object: @listings %>
  </div>
</main>