<!-- <div class="container">
<div class="row">
  <div class="col-6">  
    <%#= render '/listings/display' %>
    <span>
    <%#= button_to "Edit", edit_listing_path(@listing), :method => "get" %>
    <%#= button_to "delete", @listing, :method => "delete" %>
    </span>
  </div>
  <div class="col-6 ">
 -->

<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Stylist's Page</h3>
    
<div class="wrapper">
  <div class= "container margin-bot">
    <div class="row">
      <div class="col-6">
        <div class="card w-100 mt-5" style = " padding: 2%">
          <div class="doctor_profile">
            <h1><%= @listing.title %></h1>
            <p>Country: <%= @listing.country %></p>
            <p>Location: <%= @listing.location %> </p>
            <p><%= @listing.speciality * "," %></p>
            <span>
            <%= button_to "Edit", edit_listing_path(@listing), :method => "get", class:"btn btn-primary" %>
            <%= button_to "Delete", @listing, :method => "delete", class:"btn btn-primary" %>
            </span>           
          </div>
        </div>
      </div>
      <div class="col-6 card mt-5" style = "padding:2%">
        <div id="map" class="wrapper-xs"></div>
      </div>
    </div>
    
  </div>
</div>

<script type="text/javascript">
  function initMap() {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({"address":"<%=@listing.location%>"}, function(result, status){
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4, 
        center: result[0].geometry.location
      })
      var marker = new google.maps.Marker({
        position: result[0].geometry.location,
        map: map
      });
    })
  }
</script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap">
</script>
  </body>
</html>