<div class= 'container-new'>
<%= f.label :salon, :class => 'form_label' %> <%= f.text_field :business_name, :class => 'form_input' %>

<%= f.label :country, :class => 'form_label' %> <%= f.text_field :country, :class => 'form_input' %>
<%= f.label :city, :class => 'form_label' %> <%= f.text_field :location, :class => 'form_input' %>
<%= f.label :area, :class => 'form_label' %> <%= f.text_field :suburb, :class => 'form_input' %>
<%= f.label :address, :class => 'form_label' %> <%= f.text_field :address, :class => 'form_input' %>

<%= f.label :contact_person, :class => 'form_label'  %> <%= f.text_field :contact_person,:class => 'form_input' %>
<%= f.label :contact, :class => 'form_label' %> <%= f.text_field :contact, :class => 'form_input' %>

<%= f.label :description, :class => 'form_label' %> <%= f.text_field :description, :class => 'form_input' %>


<table class="table">
<thead>
<tr>
<td id= 'speciality'>
  <!-- <br> -->
  <!-- <br> -->
  <%= f.label :speciality, :class => 'form_label', :id => 'special' %>
  <!-- <br> -->
  <!-- <br> -->
</td:>
<td class= 'speciality'>
<%= f.check_box :speciality, {multiple: true}, "Braids", nil %>Braids<br>
<%= f.check_box :speciality, {multiple: true}, "Cornrows", nil %>Cornrows<br>
<%= f.check_box :speciality, {multiple: true}, "Crochet Braids", nil %>Crochet Braids<br>
<%= f.check_box :speciality, {multiple: true}, "Dreadlocs", nil %>Dreadlocs<br>
<%= f.check_box :speciality, {multiple: true}, "Faux Locs", nil %>Faux Locs
</td>
<td class= 'speciality'>
<%= f.check_box :speciality, {multiple: true}, "Micro Braids", nil %>Micro Braids<br>
<%= f.check_box :speciality, {multiple: true}, "Natural Hair", nil %>Natural Hair<br>
<%= f.check_box :speciality, {multiple: true}, "Relaxed Hair", nil %>Relaxed Hair<br>
<%= f.check_box :speciality, {multiple: true}, "Twists", nil %>Twists<br>
<%= f.check_box :speciality, {multiple: true}, "Weaves", nil %>Weaves
</td>
</tr>
</thead>
</table>
</div>