<main class="wrapper">
  <div class="container mt-4">
    <div class="search mt-5">
        <%= form_tag salons_search_path, id: "search-form", method: :post, remote: true do %>
         <%= text_field_tag :country, params[:country], placeholder: 'Country', class:"search_field" %> 
         <%= text_field_tag :location, params[:location], placeholder: 'City', class:"search_field" %> 
         <%= text_field_tag :suburb, params[:suburb], placeholder: 'Area', class:"search_field" %> 
         <%= submit_tag "Search", name: nil, class:"btn" %>
        <% end %>
    </div>
  </div>
    <!-- <div class= "page_top mt-3 py-0"><%#= paginate @salons %></div> -->
  <div class="container mt-4" id ="search_list" >
    <%= render partial: '/salons/display', object: @salons %>
  </div>
    <div class= "page pt-1"><%= paginate @salons %></div>

</main>