<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
       
<div class="wrapper">
  <div class= "container margin-bot">
    <div class="row">
      <div class="col-6">
        <div class="card w-100 mt-5" style = " padding: 2%">
          <div>
            <h1><strong><%= @salon.business_name %></strong></h1>
            <p><strong>Country: </strong><%= @salon.country %></p>
            <p><strong>Location: </strong><%= @salon.location %></p>
            <p><strong>Area: </strong><%= @salon.suburb %></p>
            <p><strong>Address: </strong><%= @salon.address %></p>
            <p><strong>Contact Person: </strong><%= @salon.contact_person%></p>
            <p><strong>Contact: </strong>0<%= @salon.contact %></p>
            <p><strong>Speciality: </strong><%= @salon.speciality * "," %></p>
            <span>
            <div class="row">
              <div class= "col">
                <% if can? :update, @salon %>
                <%= button_to "Edit", edit_salon_path(@salon), :method => "get", class: "btn" %>
                <% end %>
              </div>
              <div class= "col">
                <% if can? :destroy, @salon %>
                <%= button_to "Delete", @salon, :method => "delete", class: "btn" %>
                <% end %>
              </div>
              <div class= "col">
                <%#= button_to "View Salons", @salon, :method => "delete", class: "btn" %>
                <%= link_to "All Salons", '/salons', :method => "get", class: "btn" %>
              </div>
              <div class= "col"></div>
              <div class= "col"></div>
            </div>
            </span>           
          </div>
        </div>
      </div>
      <div class="col-6">
          <div class="card w-100 mt-5" style = " padding: 2%">
      <div id="map" class="wrapper-xs"></div>
      </div>
    </div>
    </div>    
  </div>
</div>

<script type="text/javascript">
  function initMap() {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({"address":"<%=@salon.address%><%=@salon.location%>"}, function(result, status){
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4, 
        center: result[0].geometry.location
      })
      var marker = new google.maps.Marker({
        position: result[0].geometry.location,
        map: map
      });
    })
  }
</script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap">
</script>
  </body>
</html>