<!DOCTYPE html>
<html>
  <head>
    <title>Moriri</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' %>

  </head>

  <body>
    
    <nav>
      <div>
        <% if current_user %>
      <ul class="nav navbar-nav float-left">      
        <li class="nav-item">      
            Signed in as <%= current_user.first_name %>
        </li>
      </ul>
      <ul class="nav navbar-nav float-right">      
        <li class="nav-item">      
            <%= link_to "Logout", '/logout' %> 
            <% else %>
            <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %> |
            <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <% end %>
        </li>
      </ul>
      </div>
    </nav>
    <br>
    




      <%= yield %>
  </body>
</html>
